environment:
  global:
    WINDOWS_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/16862/w_BaseKit_b_2021.1.8.1967.exe
    WINDOWS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/16863/w_HPCKit_b_2021.1.8.1882.exe
    MACOS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/16865/m_HPCKit_b_2021.1.8.1885.dmg
    WINDOWS_CPP_COMPONENTS: intel.oneapi.win.cpp-compiler
    WINDOWS_FORTRAN_COMPONENTS: intel.oneapi.win.ifort-compiler
    WINDOWS_DPCPP_COMPONENTS: intel.oneapi.win.dpcpp-compiler
    LINUX_CPP_COMPONENTS: intel-oneapi-icc
    LINUX_FORTRAN_COMPONENTS: intel-oneapi-ifort,intel-oneapi-compiler-shared-2021.1-beta08
    LINUX_DPCPP_COMPONENTS: intel-oneapi-dpcpp-compiler
    MACOS_CPP_COMPONENTS: intel.oneapi.mac.cpp-compiler
    MACOS_FORTRAN_COMPONENTS: intel.oneapi.mac.ifort-compiler
    
  matrix:
    - job_name: build_windows_cpp
      appveyor_build_worker_image: Visual Studio 2019
      
    - job_name: build_windows_fortran
      appveyor_build_worker_image: Visual Studio 2019
      
    - job_name: build_windows_dpcpp
      appveyor_build_worker_image: Visual Studio 2019
      
    - job_name: build_linux_apt_cpp
      appveyor_build_worker_image: Ubuntu
      
    - job_name: build_linux_apt_fortran
      appveyor_build_worker_image: Ubuntu
      
    - job_name: build_linux_apt_dpcpp
      appveyor_build_worker_image: Ubuntu
      
    - job_name: build_mac_cpp
      appveyor_build_worker_image: macos
      
    - job_name: build_mac_fortran
      appveyor_build_worker_image: macos
    
for:
  -
    matrix:
      only:
        - job_name: build_windows_cpp
    install:
      cmd: scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_CPP_COMPONENTS
    build_script:
      cmd: scripts/build_windows.bat c++
  -
    matrix:
      only:
        - job_name: build_windows_fortran
    install:
      cmd: scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_FORTRAN_COMPONENTS
    build_script:
      cmd: scripts/build_windows.bat fortran
  -
    matrix:
      only:
        - job_name: build_windows_dpcpp
    install:
      cmd: scripts/install_windows.bat $WINDOWS_BASEKIT_URL $WINDOWS_DPCPP_COMPONENTS
    build_script:
      cmd: scripts/build_windows.bat dpc++
  -
    matrix:
      only:
        - job_name: build_linux_apt_cpp
    install:
      sh: scripts/install_linux_apt.sh $LINUX_CPP_COMPONENTS
    build_script:
      sh: scripts/build_linux.sh c++
  -
    matrix:
      only:
        - job_name: build_linux_apt_fortran
    install:
      sh: scripts/install_linux_apt.sh $LINUX_FORTRAN_COMPONENTS
    build_script:
      sh: scripts/build_linux.sh fortran
  -
    matrix:
      only:
        - job_name: build_linux_apt_dpcpp
    install:
      sh: scripts/install_linux_apt.sh $LINUX_DPCPP_COMPONENTS
    build_script:
      sh: scripts/build_linux.sh dpc++
  -
    matrix:
      only:
        - job_name: build_linux_container_cpp
    services:
      - docker
    build_script:
      - docker pull intel/oneapi-hpckit
      - docker run -w=/tmp/ci/src/c++ -v $(pwd):/tmp/ci intel/oneapi-hpckit make
  -
    matrix:
      only:
        - job_name: build_linux_container_fortran
    services:
      - docker
    build_script:
      - docker pull intel/oneapi-hpckit
      - docker run -w=/tmp/ci/src/fortran -v $(pwd):/tmp/ci intel/oneapi-hpckit make
  -
    matrix:
      only:
        - job_name: build_linux_container_dpcpp
    services:
      - docker
    build_script:
      - docker pull intel/oneapi-basekit
      - docker run -w=/tmp/ci/src/dpc++ -v $(pwd):/tmp/ci intel/oneapi-basekit make
  -
    matrix:
      only:
        - job_name: build_mac_cpp
    install:
      sh: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_CPP_COMPONENTS
    build_script:
      sh: scripts/build_macos.sh c++
  -
    matrix:
      only:
        - job_name: build_mac_fortran
    install:
      sh: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_FORTRAN_COMPONENTS
    build_script:
      sh: scripts/build_macos.sh fortran
      