# SPDX-FileCopyrightText: 2022 Intel Corporation
#
# SPDX-License-Identifier: MIT

environment:
  global:
    WINDOWS_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/18674/w_BaseKit_p_2022.2.0.252_offline.exe
    WINDOWS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/18680/w_HPCKit_p_2022.2.0.173_offline.exe
    LINUX_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/18673/l_BaseKit_p_2022.2.0.262_offline.sh
    LINUX_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/18679/l_HPCKit_p_2022.2.0.191_offline.sh
    MACOS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/IRC_NAS/18681/m_HPCKit_p_2022.2.0.158_offline.dmg
    WINDOWS_CPP_COMPONENTS: intel.oneapi.win.cpp-compiler
    WINDOWS_FORTRAN_COMPONENTS: intel.oneapi.win.ifort-compiler
    WINDOWS_DPCPP_COMPONENTS: intel.oneapi.win.dpcpp-compiler
    LINUX_CPP_COMPONENTS: intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic
    LINUX_FORTRAN_COMPONENTS: intel-oneapi-compiler-fortran
    LINUX_DPCPP_COMPONENTS: intel-oneapi-compiler-dpcpp-cpp
    LINUX_CPP_COMPONENTS_WEB: intel.oneapi.lin.dpcpp-cpp-compiler-pro
    LINUX_FORTRAN_COMPONENTS_WEB: intel.oneapi.lin.ifort-compiler
    LINUX_DPCPP_COMPONENTS_WEB: intel.oneapi.lin.dpcpp-cpp-compiler
    MACOS_CPP_COMPONENTS: intel.oneapi.mac.cpp-compiler
    MACOS_FORTRAN_COMPONENTS: intel.oneapi.mac.ifort-compiler
    SAMPLES_TAG: 2022.2.0

  matrix:
    - job_name: build_windows_cpp
      appveyor_build_worker_image: Visual Studio 2019

    - job_name: build_windows_fortran
      appveyor_build_worker_image: Visual Studio 2019

    - job_name: build_windows_dpcpp
      appveyor_build_worker_image: Visual Studio 2019

    - job_name: build_linux_cpp
      appveyor_build_worker_image: ubuntu2004

    - job_name: build_linux_fortran
      appveyor_build_worker_image: ubuntu2004

    - job_name: build_linux_dpcpp
      appveyor_build_worker_image: ubuntu2004

    - job_name: build_linux_apt_cpp
      appveyor_build_worker_image: ubuntu2004

    - job_name: build_linux_apt_fortran
      appveyor_build_worker_image: ubuntu2004

    - job_name: build_linux_apt_dpcpp
      appveyor_build_worker_image: ubuntu2004

    - job_name: build_mac_cpp
      appveyor_build_worker_image: macos

    - job_name: build_mac_fortran
      appveyor_build_worker_image: macos

for:
  -
    matrix:
      only:
        - job_name: build_windows_cpp
    install:
      cmd: scripts/install_windows.bat %WINDOWS_HPCKIT_URL% %WINDOWS_CPP_COMPONENTS%
    build_script:
      cmd: scripts/build_windows.bat c++ 2019_build_tools %SAMPLES_TAG%

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          extract.log
          bootstrapper*
          installer*
  -
    matrix:
      only:
        - job_name: build_windows_fortran
    install:
      cmd: scripts/install_windows.bat %WINDOWS_HPCKIT_URL% %WINDOWS_FORTRAN_COMPONENTS%
    build_script:
      cmd: scripts/build_windows.bat fortran 2019_build_tools %SAMPLES_TAG%

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          extract.log
          bootstrapper*
          installer*
  -
    matrix:
      only:
        - job_name: build_windows_dpcpp
    install:
      cmd: scripts/install_windows.bat %WINDOWS_BASEKIT_URL% %WINDOWS_DPCPP_COMPONENTS%
    build_script:
      cmd: scripts/build_windows.bat dpc++ 2019_build_tools %SAMPLES_TAG%

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          extract.log
          bootstrapper*
          installer*
  -
    matrix:
      only:
        - job_name: build_linux_cpp
    install:
      sh: |
        scripts/install_linux.sh $LINUX_HPCKIT_URL $LINUX_CPP_COMPONENTS_WEB
    build_script:
      sh: scripts/build_linux.sh c++ $SAMPLES_TAG

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          extract.log
          bootstrapper*
          installer*

  -
    matrix:
      only:
        - job_name: build_linux_fortran
    install:
      sh: |
        scripts/install_linux.sh $LINUX_HPCKIT_URL $LINUX_FORTRAN_COMPONENTS_WEB
    build_script:
      sh: scripts/build_linux.sh fortran $SAMPLES_TAG

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          extract.log
          bootstrapper*
          installer*

  -
    matrix:
      only:
        - job_name: build_linux_dpcpp
    install:
      sh: |
        scripts/install_linux.sh $LINUX_BASEKIT_URL $LINUX_DPCPP_COMPONENTS_WEB
    build_script:
      sh: scripts/build_linux.sh dpc++ $SAMPLES_TAG

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          extract.log
          bootstrapper*
          installer*

  -
    matrix:
      only:
        - job_name: build_linux_apt_cpp
    install:
      sh: |
        scripts/setup_apt_repo_linux.sh
        scripts/install_linux_apt.sh $LINUX_CPP_COMPONENTS
    build_script:
      sh: scripts/build_linux.sh c++ $SAMPLES_TAG
  -
    matrix:
      only:
        - job_name: build_linux_apt_fortran
    install:
      sh: |
        scripts/setup_apt_repo_linux.sh
        scripts/install_linux_apt.sh $LINUX_FORTRAN_COMPONENTS
    build_script:
      sh: scripts/build_linux.sh fortran $SAMPLES_TAG
  -
    matrix:
      only:
        - job_name: build_linux_apt_dpcpp
    install:
      sh: |
        scripts/setup_apt_repo_linux.sh
        scripts/install_linux_apt.sh $LINUX_DPCPP_COMPONENTS
    build_script:
      sh: scripts/build_linux.sh dpc++ $SAMPLES_TAG

  -
    matrix:
      only:
        - job_name: build_mac_cpp
    install:
      sh: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_CPP_COMPONENTS
    build_script:
      sh: scripts/build_macos.sh c++ $SAMPLES_TAG

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          bootstrapper*
          installer*
  -
    matrix:
      only:
        - job_name: build_mac_fortran
    install:
      sh: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_FORTRAN_COMPONENTS
    build_script:
      sh: scripts/build_macos.sh fortran $SAMPLES_TAG

    # Delete the following if you don't want to save install logs
    artifacts:
      - name: InstallLogs
        path: |
          bootstrapper*
          installer*
