# SPDX-FileCopyrightText: 2020 Intel Corporation
#
# SPDX-License-Identifier: MIT

trigger:
- master

variables:
  - name: WINDOWS_BASEKIT_URL
    value: https://registrationcenter-download.intel.com/akdlm/irc_nas/18418/w_BaseKit_p_2022.1.0.116_offline.exe
  - name: WINDOWS_HPCKIT_URL
    value: https://registrationcenter-download.intel.com/akdlm/irc_nas/18417/w_HPCKit_p_2022.1.0.93_offline.exe
  - name: LINUX_BASEKIT_URL
    value: https://registrationcenter-download.intel.com/akdlm/irc_nas/18445/l_BaseKit_p_2022.1.1.119_offline.sh
  - name: LINUX_HPCKIT_URL
    value: https://registrationcenter-download.intel.com/akdlm/irc_nas/18438/l_HPCKit_p_2022.1.1.97_offline.sh
  - name: MACOS_HPCKIT_URL
    value: https://registrationcenter-download.intel.com/akdlm/irc_nas/18341/m_HPCKit_p_2022.1.0.86_offline.dmg
  - name: WINDOWS_CPP_COMPONENTS
    value: intel.oneapi.win.cpp-compiler
  - name: WINDOWS_FORTRAN_COMPONENTS
    value: intel.oneapi.win.ifort-compiler
  - name: WINDOWS_DPCPP_COMPONENTS
    value: intel.oneapi.win.dpcpp-compiler
  - name: LINUX_CPP_COMPONENTS
    value: intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic
  - name: LINUX_FORTRAN_COMPONENTS
    value: intel-oneapi-compiler-fortran
  - name: LINUX_DPCPP_COMPONENTS
    value: intel-oneapi-compiler-dpcpp-cpp
  - name: LINUX_CPP_COMPONENTS_WEB
    value: intel.oneapi.lin.dpcpp-cpp-compiler-pro
  - name: LINUX_FORTRAN_COMPONENTS_WEB
    value: intel.oneapi.lin.ifort-compiler
  - name: LINUX_DPCPP_COMPONENTS_WEB
    value: intel.oneapi.lin.dpcpp-cpp-compiler
  - name: MACOS_CPP_COMPONENTS
    value: intel.oneapi.mac.cpp-compiler
  - name: MACOS_FORTRAN_COMPONENTS
    value: intel.oneapi.mac.ifort-compiler
  - name: SAMPLES_TAG
    value: 2022.1.0

resources:
    containers:
      - container: oneapi-hpckit
        image: intel/oneapi-hpckit:latest
        options: '-v /usr/bin/sudo:/usr/bin/sudo -v /usr/lib/sudo/libsudo_util.so.0:/usr/lib/sudo/libsudo_util.so.0 -v /usr/lib/sudo/sudoers.so:/usr/lib/sudo/sudoers.so'
      - container: oneapi-basekit
        image: intel/oneapi-basekit:latest
        options: '-v /usr/bin/sudo:/usr/bin/sudo -v /usr/lib/sudo/libsudo_util.so.0:/usr/lib/sudo/libsudo_util.so.0 -v /usr/lib/sudo/sudoers.so:/usr/lib/sudo/sudoers.so'

jobs:
- job: build_windows_cpp
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: Cache@2
    inputs:
      path: C:\Program Files (x86)\Intel\oneAPI\compiler
      key: '"install" | "$(WINDOWS_HPCKIT_URL)" | "$(WINDOWS_CPP_COMPONENTS)" | compiler | scripts/cache_exclude_windows.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_windows.bat $(WINDOWS_HPCKIT_URL) $(WINDOWS_CPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_windows.bat c++ "" $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_windows.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

  # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        extract.log
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_windows_fortran
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: Cache@2
    inputs:
      path: C:\Program Files (x86)\Intel\oneAPI\compiler
      key: '"install" | "$(WINDOWS_HPCKIT_URL)" | "$(WINDOWS_FORTRAN_COMPONENTS)" | "compiler" | scripts/cache_exclude_windows.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_windows.bat $(WINDOWS_HPCKIT_URL) $(WINDOWS_FORTRAN_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_windows.bat fortran "" $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_windows.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

  # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        extract.log
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_windows_dpcpp
  pool:
    vmImage: 'windows-latest'
  steps:
#  - task: Cache@2 # multiple paths per cache not supported yet. See https://github.com/microsoft/azure-pipelines-agent/pull/2834
#    inputs:
#      path: C:\Program Files (x86)\Intel\oneAPI\compiler
#      key: '"install" | "$(WINDOWS_BASEKIT_URL)" | "$(WINDOWS_DPCPP_COMPONENTS)" | "compiler" | scripts/cache_exclude_windows.sh'
#      cacheHitVar: CACHE_RESTORED
#  - task: Cache@2
#    condition: eq(variables.CACHE_RESTORED, 'true')
#    inputs:
#      path: C:\Program Files (x86)\Intel\oneAPI\tbb
#      key: '"install" | "$(WINDOWS_BASEKIT_URL)" | "$(WINDOWS_DPCPP_COMPONENTS)" | "tbb" | scripts/cache_exclude_windows.sh'
#      cacheHitVar: CACHE_RESTORED
#  - task: Cache@2
#    condition: eq(variables.CACHE_RESTORED, 'true')
#    inputs:
#      path: opencl # caching of individual files is not supported, caching OpenCL.dll in a folder as a workaround.
#      key: '"install" | "$(WINDOWS_BASEKIT_URL)" | "$(WINDOWS_DPCPP_COMPONENTS)" | "opencl_folder" | scripts/cache_exclude_windows.sh'
#      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_windows.bat $(WINDOWS_BASEKIT_URL) $(WINDOWS_DPCPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - bash: cp opencl/OpenCL.dll C:/Windows/System32/
    displayName: restore OpenCL.dll from cache
    condition: eq(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_windows.bat dpc++ "" $(SAMPLES_TAG)
    displayName: build
#  - bash: scripts/cache_exclude_windows.sh
#    displayName: exclude unused files from cache
#    condition: ne(variables.CACHE_RESTORED, 'true')
#  - bash: |
#      mkdir -p opencl
#      cp C:/Windows/System32/OpenCL.dll opencl/
#    displayName: copy OpenCL.dll to a folder for caching
#    condition: ne(variables.CACHE_RESTORED, 'true')

  # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        extract.log
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_linux_cpp
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/compiler
      key: '"install" | "$(LINUX_HPCKIT_URL)" | "$(LINUX_CPP_COMPONENTS_WEB)" | "compiler" | scripts/cache_exclude_linux.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_linux.sh $(LINUX_HPCKIT_URL) $(LINUX_CPP_COMPONENTS_WEB)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh c++ $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_linux.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

    # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        extract.log
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_linux_fortran
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/compiler
      key: '"install" | "$(LINUX_HPCKIT_URL)" | "$(LINUX_FORTRAN_COMPONENTS_WEB)" | "compiler" | scripts/cache_exclude_linux.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_linux.sh $(LINUX_HPCKIT_URL) $(LINUX_FORTRAN_COMPONENTS_WEB)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh fortran $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_linux.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

    # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        extract.log
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_linux_dpcpp
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/compiler
      key: '"install" | "$(LINUX_BASEKIT_URL)" | "$(LINUX_DPCPP_COMPONENTS_WEB)" | "compiler" | scripts/cache_exclude_linux.sh'
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/tbb
      key: '"install" | "$(LINUX_BASEKIT_URL)" | "$(LINUX_DPCPP_COMPONENTS_WEB)" | "tbb" | scripts/cache_exclude_linux.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_linux.sh $(LINUX_BASEKIT_URL) $(LINUX_DPCPP_COMPONENTS_WEB)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh dpc++ $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_linux.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

    # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        extract.log
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_linux_apt_cpp
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - script: scripts/setup_apt_repo_linux.sh
    displayName: setup apt repo
  - script: scripts/apt_depends.sh $LINUX_CPP_COMPONENTS | tee depends.txt
    displayName: collect versioned dependencies of apt packages
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/compiler
      key: '"install" | "$(LINUX_CPP_COMPONENTS)" | depends.txt | "compiler" | scripts/cache_exclude_linux.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_linux_apt.sh $(LINUX_CPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh c++ $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_linux.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

- job: build_linux_apt_fortran
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - script: scripts/setup_apt_repo_linux.sh
    displayName: setup apt repo
  - script: scripts/apt_depends.sh $LINUX_CPP_COMPONENTS | tee depends.txt
    displayName: collect versioned dependencies of apt packages
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/compiler
      key: '"install" | "$(LINUX_FORTRAN_COMPONENTS)" | depends.txt | "compiler" | scripts/cache_exclude_linux.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_linux_apt.sh $(LINUX_FORTRAN_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh fortran $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_linux.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

- job: build_linux_apt_dpcpp
  pool:
    vmImage: 'ubuntu-20.04'
  steps:
  - script: scripts/setup_apt_repo_linux.sh
    displayName: setup apt repo
  - script: scripts/apt_depends.sh $LINUX_CPP_COMPONENTS | tee depends.txt
    displayName: collect versioned dependencies of apt packages
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/compiler
      key: '"install" | "$(LINUX_DPCPP_COMPONENTS)" | depends.txt | "compiler" | scripts/cache_exclude_linux.sh'
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi/tbb
      key: '"install" | "$(LINUX_DPCPP_COMPONENTS)" | depends.txt | "tbb" | scripts/cache_exclude_linux.sh'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_linux_apt.sh $(LINUX_DPCPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh dpc++ $(SAMPLES_TAG)
    displayName: build
  - bash: scripts/cache_exclude_linux.sh
    displayName: exclude unused files from cache
    condition: ne(variables.CACHE_RESTORED, 'true')

- job: build_linux_dnf_cpp
  pool:
    vmImage: 'ubuntu-20.04'
  container: fedora:32
  steps:
  - script: scripts/install_prerequisites_linux_dnf.sh
    displayName: install prerequisites
  - script: scripts/setup_yum_dnf_repo_linux.sh
    displayName: setup yum/dnf repo
  - script: scripts/dnf_depends.sh $LINUX_CPP_COMPONENTS | tee depends.txt
    displayName: collect versioned dependencies of dnf packages
  - script: scripts/install_linux_dnf.sh $(LINUX_CPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh c++ $(SAMPLES_TAG)
    displayName: build

- job: build_linux_dnf_fortran
  pool:
    vmImage: 'ubuntu-20.04'
  container: fedora:32
  steps:
  - script: scripts/install_prerequisites_linux_dnf.sh
    displayName: install prerequisites
  - script: scripts/setup_yum_dnf_repo_linux.sh
    displayName: setup yum/dnf repo
  - script: scripts/dnf_depends.sh $LINUX_CPP_COMPONENTS | tee depends.txt
    displayName: collect versioned dependencies of dnf packages
  - script: scripts/install_linux_dnf.sh $(LINUX_FORTRAN_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh fortran $(SAMPLES_TAG)
    displayName: build

- job: build_linux_dnf_dpcpp
  pool:
    vmImage: 'ubuntu-20.04'
  container: fedora:32
  steps:
  - script: scripts/install_prerequisites_linux_dnf.sh
    displayName: install prerequisites
  - script: scripts/setup_yum_dnf_repo_linux.sh
    displayName: setup yum/dnf repo
  - script: scripts/dnf_depends.sh $LINUX_CPP_COMPONENTS | tee depends.txt
    displayName: collect versioned dependencies of dnf packages
  - script: scripts/install_linux_dnf.sh $(LINUX_DPCPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_linux.sh dpc++ $(SAMPLES_TAG)
    displayName: build

- job: build_macOS_cpp
  pool:
    vmImage: 'macOS-latest'
  steps:
  - script: |
      sudo mkdir -p /opt/intel
      sudo chown $USER /opt/intel
    displayName: prepare for cache restore
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi
      key: '"install" | "$(MACOS_HPCKIT_URL)" | "$(MACOS_CPP_COMPONENTS)"'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_macos.sh $(MACOS_HPCKIT_URL) $(MACOS_CPP_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_macos.sh c++ $(SAMPLES_TAG)
    displayName: build

  # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)

- job: build_macOS_fortran
  pool:
    vmImage: 'macOS-latest'
  steps:
  - script: |
      sudo mkdir -p /opt/intel
      sudo chown $USER /opt/intel
    displayName: prepare for cache restore
  - task: Cache@2
    inputs:
      path: /opt/intel/oneapi
      key: '"install" | "$(MACOS_HPCKIT_URL)" | "$(MACOS_FORTRAN_COMPONENTS)"'
      cacheHitVar: CACHE_RESTORED
  - script: scripts/install_macos.sh $(MACOS_HPCKIT_URL) $(MACOS_FORTRAN_COMPONENTS)
    displayName: install
    condition: ne(variables.CACHE_RESTORED, 'true')
  - script: scripts/build_macos.sh fortran $(SAMPLES_TAG)
    displayName: build

  # Delete the following if you don't want to save install logs
  - task: CopyFiles@2
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      sourceFolder: '$(Build.SourcesDirectory)'
      contents: |
        bootstrapper*
        installer*
      targetFolder: '$(Build.ArtifactStagingDirectory)'
  - task: PublishBuildArtifacts@1
    condition: ne(variables.CACHE_RESTORED, 'true')
    inputs:
      pathToPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: InstallLogs_$(Agent.JobName)
