# SPDX-FileCopyrightText: 2020 Intel Corporation
#
# SPDX-License-Identifier: MIT

stages:
  - build

variables:
  WINDOWS_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17453/w_BaseKit_p_2021.1.0.2664_offline.exe
  WINDOWS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17392/w_HPCKit_p_2021.1.0.2682_offline.exe
  LINUX_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17431/l_BaseKit_p_2021.1.0.2659_offline.sh
  LINUX_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17427/l_HPCKit_p_2021.1.0.2684_offline.sh
  MACOS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17398/m_HPCKit_p_2021.1.0.2681_offline.dmg
  WINDOWS_CPP_COMPONENTS: intel.oneapi.win.cpp-compiler
  WINDOWS_FORTRAN_COMPONENTS: intel.oneapi.win.ifort-compiler
  WINDOWS_DPCPP_COMPONENTS: intel.oneapi.win.dpcpp-compiler
  LINUX_CPP_COMPONENTS: intel-oneapi-compiler-dpcpp-cpp-and-cpp-classic
  LINUX_FORTRAN_COMPONENTS: intel-oneapi-compiler-fortran
  LINUX_DPCPP_COMPONENTS: intel-oneapi-compiler-dpcpp-cpp
  LINUX_CPP_COMPONENTS_WEB: intel.oneapi.lin.dpcpp-cpp-compiler-pro
  LINUX_FORTRAN_COMPONENTS_WEB: intel.oneapi.lin.ifort-compiler
  LINUX_DPCPP_COMPONENTS_WEB: intel.oneapi.lin.dpcpp-cpp-compiler
  MACOS_CPP_COMPONENTS: intel.oneapi.mac.cpp-compiler
  MACOS_FORTRAN_COMPONENTS: intel.oneapi.mac.ifort-compiler
  ONEAPI_RELEASE: 2021.1.1

.shared_windows_runners:
  tags:
  - shared-windows
  - windows
  - windows-1809

build_windows_cpp:
  extends:
  - .shared_windows_runners
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${WINDOWS_CPP_COMPONENTS}-compiler
      files:
        - scripts/cache_exclude_windows.ps1
    paths:
      - cache # GitLab CI cannot cache files outside build directory
  before_script: # Restoring install directory from 'cache' folder
    - |
        if(Test-Path cache) {
          New-Item -ItemType "directory" -Path "C:\Program Files (x86)\Intel\oneAPI" -Force
          Move-Item -Path cache\compiler -Destination "C:\Program Files (x86)\Intel\oneAPI"
        } else {
          scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_CPP_COMPONENTS
        }
  script:
    - scripts/build_windows.bat c++ 2019_build_tools
  after_script:  # Moving install directory into 'cache' folder inside build directory
    - |
        if(!(Test-Path cache)) {
          scripts/cache_exclude_windows.ps1
          New-Item -ItemType "directory" -Path "cache"
        }
        # "push-pull" is the default cache policy, so cache folder needs to be setup in every run.
        # consider setting "policy: pull" once the cache is warm.
        Move-Item -Path "C:\Program Files (x86)\Intel\oneAPI\compiler" -Destination "cache"

  # Delete the following if you don't want to save install logs
  artifacts:
    when: always
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_windows_fortran:
  extends:
  - .shared_windows_runners
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${WINDOWS_FORTRAN_COMPONENTS}-compiler
      files:
        - scripts/cache_exclude_windows.ps1
    paths:
      - cache
  before_script:
    - |
        if(Test-Path cache) {
          New-Item -ItemType "directory" -Path "C:\Program Files (x86)\Intel\oneAPI" -Force
          Move-Item -Path cache\compiler -Destination "C:\Program Files (x86)\Intel\oneAPI"
        } else {
          scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_FORTRAN_COMPONENTS
        }
  script:
    - scripts/build_windows.bat fortran 2019_build_tools
  after_script:
    - |
        if(!(Test-Path cache)) {
          scripts/cache_exclude_windows.ps1
          New-Item -ItemType "directory" -Path "cache"
        }
        Move-Item -Path "C:\Program Files (x86)\Intel\oneAPI\compiler" -Destination "cache"

  # Delete the following if you don't want to save install logs
  artifacts:
    when: always
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_windows_dpcpp:
  extends:
  - .shared_windows_runners
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${WINDOWS_DPCPP_COMPONENTS}-compiler-tbb-opencl
      files:
        - scripts/cache_exclude_windows.ps1
    paths:
      - cache
  before_script:
    - |
        if(Test-Path cache) {
          New-Item -ItemType "directory" -Path "C:\Program Files (x86)\Intel\oneAPI" -Force
          Move-Item -Path cache\compiler -Destination "C:\Program Files (x86)\Intel\oneAPI"
          Move-Item -Path cache\tbb -Destination "C:\Program Files (x86)\Intel\oneAPI"
          Move-Item -Path cache\OpenCL.dll -Destination "C:\Windows\System32"
        } else {
          scripts/install_windows.bat $WINDOWS_BASEKIT_URL $WINDOWS_DPCPP_COMPONENTS
        }
  script:
    - scripts/build_windows.bat dpc++ 2019_build_tools
  after_script:
    - |
        if(!(Test-Path cache)) {
          scripts/cache_exclude_windows.ps1
          New-Item -ItemType "directory" -Path "cache"
        }
        Move-Item -Path "C:\Program Files (x86)\Intel\oneAPI\compiler" -Destination "cache"
        Move-Item -Path "C:\Program Files (x86)\Intel\oneAPI\tbb" -Destination "cache"
        Move-Item -Path "C:\Windows\System32\OpenCL.dll" -Destination "cache"
  # Delete the following if you don't want to save install logs
  artifacts:
    when: always
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_linux_cpp:
  image: ubuntu:20.04
  stage: build
  cache:
    key: # GitLab CI doesn't support steps before cache is restored, i.e. only static cache keys are supported.
      prefix: install-${LINUX_HPCKIT_URL}-${LINUX_CPP_COMPONENTS_WEB}-compiler
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/install_linux_no_sudo.sh $LINUX_HPCKIT_URL $LINUX_CPP_COMPONENTS_WEB
        fi
  script:
    - scripts/build_linux.sh c++
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache
  # Delete the following if you don't want to save install logs
  artifacts:
    when: always
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_linux_fortran:
  image: ubuntu:20.04
  stage: build
  cache:
    key: # GitLab CI doesn't support steps before cache is restored, i.e. only static cache keys are supported.
      prefix: install-${LINUX_HPCKIT_URL}-${LINUX_FORTRAN_COMPONENTS_WEB}-compiler
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/install_linux_no_sudo.sh $LINUX_HPCKIT_URL $LINUX_FORTRAN_COMPONENTS_WEB
        fi
  script:
    - scripts/build_linux.sh fortran
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache
  # Delete the following if you don't want to save install logs
  artifacts:
    when: always
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_linux_dpcpp:
  image: ubuntu:20.04
  stage: build
  cache:
    key: # GitLab CI doesn't support steps before cache is restored, i.e. only static cache keys are supported.
      prefix: install-${LINUX_BASEKIT_URL}-${LINUX_DPCPP_COMPONENTS_WEB}-compiler-tbb
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/install_linux_no_sudo.sh $LINUX_BASEKIT_URL $LINUX_DPCPP_COMPONENTS_WEB
        fi
  script:
    - scripts/build_linux.sh dpc++
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache
  # Delete the following if you don't want to save install logs
  artifacts:
    when: always
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_linux_apt_cpp:
  image: ubuntu:20.04
  stage: build
  cache:
    key: # GitLab CI doesn't support steps before cache is restored, i.e. only static cache keys are supported.
      prefix: install-${ONEAPI_RELEASE}-${LINUX_CPP_COMPONENTS}-compiler
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - . scripts/install_prerequisites_linux_apt_no_sudo.sh
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/setup_apt_repo_linux_no_sudo.sh
          . scripts/install_linux_apt_no_sudo.sh $LINUX_CPP_COMPONENTS
        fi
  script:
    - scripts/build_linux.sh c++
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache

build_linux_apt_fortran:
  image: ubuntu:20.04
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${LINUX_FORTRAN_COMPONENTS}-compiler
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - . scripts/install_prerequisites_linux_apt_no_sudo.sh
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/setup_apt_repo_linux_no_sudo.sh
          . scripts/install_linux_apt_no_sudo.sh $LINUX_FORTRAN_COMPONENTS
        fi
  script:
    - scripts/build_linux.sh fortran
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache

build_linux_apt_dpcpp:
  image: ubuntu:20.04
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${LINUX_DPCPP_COMPONENTS}-compiler-tbb
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - . scripts/install_prerequisites_linux_apt_no_sudo.sh
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
          mv cache/tbb /opt/intel/oneapi/
        else
          . scripts/setup_apt_repo_linux_no_sudo.sh
          . scripts/install_linux_apt_no_sudo.sh $LINUX_DPCPP_COMPONENTS
        fi
  script:
    - scripts/build_linux.sh dpc++
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache
        mv /opt/intel/oneapi/tbb cache

build_linux_dnf_cpp:
  image: fedora:latest
  stage: build
  cache:
    key: # GitLab CI doesn't support steps before cache is restored, i.e. only static cache keys are supported.
      prefix: install-${ONEAPI_RELEASE}-${LINUX_CPP_COMPONENTS}-compiler
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - . scripts/install_prerequisites_linux_dnf_no_sudo.sh
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/setup_yum_dnf_repo_linux_no_sudo.sh
          . scripts/install_linux_dnf_no_sudo.sh $LINUX_CPP_COMPONENTS
        fi
  script:
    - scripts/build_linux.sh c++
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache

build_linux_dnf_fortran:
  image: fedora:latest
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${LINUX_FORTRAN_COMPONENTS}-compiler
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - . scripts/install_prerequisites_linux_dnf_no_sudo.sh
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
        else
          . scripts/setup_yum_dnf_repo_linux_no_sudo.sh
          . scripts/install_linux_dnf_no_sudo.sh $LINUX_FORTRAN_COMPONENTS
        fi
  script:
    - scripts/build_linux.sh fortran
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache

build_linux_dnf_dpcpp:
  image: fedora:latest
  stage: build
  cache:
    key:
      prefix: install-${ONEAPI_RELEASE}-${LINUX_DPCPP_COMPONENTS}-compiler-tbb
      files:
        - scripts/cache_exclude_linux_no_sudo.sh
    paths:
      - cache
  before_script:
    - . scripts/install_prerequisites_linux_dnf_no_sudo.sh
    - |
        if [[ -d cache ]]
        then
          mkdir -p /opt/intel/oneapi
          mv cache/compiler /opt/intel/oneapi/
          mv cache/tbb /opt/intel/oneapi/
        else
          . scripts/setup_yum_dnf_repo_linux_no_sudo.sh
          . scripts/install_linux_dnf_no_sudo.sh $LINUX_DPCPP_COMPONENTS
        fi
  script:
    - scripts/build_linux.sh dpc++
  after_script:
    - |
        if [[ ! -d cache ]]
        then
          . scripts/cache_exclude_linux_no_sudo.sh
          mkdir cache
        fi
        mv /opt/intel/oneapi/compiler cache
        mv /opt/intel/oneapi/tbb cache
