image: ubuntu:latest

build:
  stage: build
  script:
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get -qqq update
    - apt-get install -y wget build-essential pkg-config cmake ca-certificates gnupg
    - wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
    - apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
    - echo "deb https://apt.repos.intel.com/oneapi all main" > /etc/apt/sources.list.d/oneAPI.list
    - apt-get -qqq update
    - apt-get install -y intel-oneapi-icc intel-oneapi-ifort
    - set -x
    - . /opt/intel/inteloneapi/setvars.sh
    - cd src
    - make

