# SPDX-FileCopyrightText: 2020 Intel Corporation
#
# SPDX-License-Identifier: MIT

stages:
  - build

variables:
  WINDOWS_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17191/w_BaseKit_b_2021.1.10.2260.exe
  WINDOWS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17163/w_HPCKit_b_2021.1.10.2266.exe
  MACOS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17230/m_HPCKit_b_2021.1.10.2260.dmg
  WINDOWS_CPP_COMPONENTS: intel.oneapi.win.cpp-compiler
  WINDOWS_FORTRAN_COMPONENTS: intel.oneapi.win.ifort-compiler
  WINDOWS_DPCPP_COMPONENTS: intel.oneapi.win.dpcpp-compiler
  LINUX_CPP_COMPONENTS: intel-oneapi-dpcpp-cpp-compiler-pro
  LINUX_FORTRAN_COMPONENTS: intel-oneapi-ifort
  LINUX_DPCPP_COMPONENTS: intel-oneapi-dpcpp-cpp-compiler
  MACOS_CPP_COMPONENTS: intel.oneapi.mac.cpp-compiler
  MACOS_FORTRAN_COMPONENTS: intel.oneapi.mac.ifort-compiler

.shared_windows_runners:
  tags:
  - shared-windows
  - windows
  - windows-1809

build_windows_cpp:
  extends:
  - .shared_windows_runners
  stage: build
  script:
    - scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_CPP_COMPONENTS
    - scripts/build_windows.bat c++ 2019_build_tools
  artifacts:
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_windows_fortran:
  extends:
  - .shared_windows_runners
  stage: build
  script:
    - scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_FORTRAN_COMPONENTS
    - scripts/build_windows.bat fortran 2019_build_tools
  artifacts:
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_windows_dpcpp:
  extends:
  - .shared_windows_runners
  stage: build
  script:
    - scripts/install_windows.bat $WINDOWS_BASEKIT_URL $WINDOWS_DPCPP_COMPONENTS
    - scripts/build_windows.bat dpc++ 2019_build_tools
  artifacts:
    paths:
      - extract.log
      - bootstrapper*
      - installer*
    expire_in: 1 week

build_linux_apt_cpp:
  image: ubuntu:latest
  stage: build
  script:
    - . scripts/install_linux_apt_no_sudo.sh $LINUX_CPP_COMPONENTS
    - scripts/build_linux.sh c++

build_linux_apt_fortran:
  image: ubuntu:latest
  stage: build
  script:
    - . scripts/install_linux_apt_no_sudo.sh $LINUX_FORTRAN_COMPONENTS
    - scripts/build_linux.sh fortran

build_linux_apt_dpcpp:
  image: ubuntu:latest
  stage: build
  script:
    - . scripts/install_linux_apt_no_sudo.sh $LINUX_DPCPP_COMPONENTS
    - scripts/build_linux.sh dpc++
