language: minimal
env:
  global:
    - WINDOWS_BASEKIT_URL=https://registrationcenter-download.intel.com/akdlm/irc_nas/16862/w_BaseKit_b_2021.1.8.1967.exe
    - WINDOWS_HPCKIT_URL=https://registrationcenter-download.intel.com/akdlm/irc_nas/16863/w_HPCKit_b_2021.1.8.1882.exe
    - MACOS_HPCKIT_URL=https://registrationcenter-download.intel.com/akdlm/irc_nas/16865/m_HPCKit_b_2021.1.8.1885.dmg
    - WINDOWS_CPP_COMPONENTS=intel.oneapi.win.cpp-compiler
    - WINDOWS_FORTRAN_COMPONENTS=intel.oneapi.win.ifort-compiler
    - WINDOWS_DPCPP_COMPONENTS=intel.oneapi.win.dpcpp-compiler
    - LINUX_CPP_COMPONENTS=intel-oneapi-icc
    - LINUX_FORTRAN_COMPONENTS=intel-oneapi-ifort,intel-oneapi-compiler-shared-2021.1-beta08
    - LINUX_DPCPP_COMPONENTS=intel-oneapi-dpcpp-compiler
    - MACOS_CPP_COMPONENTS=intel.oneapi.mac.cpp-compiler
    - MACOS_FORTRAN_COMPONENTS=intel.oneapi.mac.ifort-compiler
jobs:
  include:
    - name: build_windows_cpp
      os: windows
      install: scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_CPP_COMPONENTS
      script: scripts/build_windows.bat c++ 2017_build_tools
      
    - name: build_windows_fortran
      os: windows
      install: scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_FORTRAN_COMPONENTS
      script: scripts/build_windows.bat fortran 2017_build_tools
      
    - name: build_windows_dpcpp
      os: windows
      install: scripts/install_windows.bat $WINDOWS_BASEKIT_URL $WINDOWS_DPCPP_COMPONENTS
      script: scripts/build_windows.bat dpc++ 2017_build_tools
        
    - name: build_linux_apt_cpp
      os: linux
      dist: bionic
      install: scripts/install_linux_apt.sh $LINUX_CPP_COMPONENTS
      script: scripts/build_linux.sh c++
      
    - name: build_linux_apt_fortran
      os: linux
      dist: bionic
      install: scripts/install_linux_apt.sh $LINUX_FORTRAN_COMPONENTS
      script: scripts/build_linux.sh fortran
        
    - name: build_linux_apt_dpcpp
      os: linux
      dist: bionic
      install: scripts/install_linux_apt.sh $LINUX_DPCPP_COMPONENTS
      script: scripts/build_linux.sh dpc++

    - name: build_linux_container_cpp
      os: linux
      services:
        - docker
      addons:
        apt:
          packages:
            - docker-ce
      install: docker pull intel/oneapi-hpckit
      script: docker run intel/oneapi-hpckit scripts/build_linux.sh c++
      
    - name: build_linux_container_fortran
      os: linux
      services:
        - docker
      addons:
        apt:
          packages:
            - docker-ce
      install: docker pull intel/oneapi-hpckit
      script: docker run intel/oneapi-hpckit scripts/build_linux.sh fortran
        
    - name: build_linux_container_dpcpp
      os: linux
      services:
        - docker
      addons:
        apt:
          packages:
            - docker-ce
      install: docker pull intel/oneapi-basekit
      script: docker run intel/oneapi-basekit scripts/build_linux.sh dpc++
        
    - name: build_mac_cpp
      os: osx
      osx_image: xcode11.6
      install: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_CPP_COMPONENTS
      script: scripts/build_macos.sh c++
      
    - name: build_mac_fortran
      os: osx
      osx_image: xcode11.6
      install: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_FORTRAN_COMPONENTS
      script: scripts/build_macos.sh fortran
      