# SPDX-FileCopyrightText: 2020 Intel Corporation
#
# SPDX-License-Identifier: MIT

name: build_all

on:
  push

env:
  WINDOWS_BASEKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17191/w_BaseKit_b_2021.1.10.2260.exe
  WINDOWS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17163/w_HPCKit_b_2021.1.10.2266.exe
  WINDOWS_BASEKIT_URL_BETA09: https://registrationcenter-download.intel.com/akdlm/irc_nas/16958/w_BaseKit_b_2021.1.9.2200.exe
  WINDOWS_HPCKIT_URL_BETA09: https://registrationcenter-download.intel.com/akdlm/irc_nas/16959/w_HPCKit_b_2021.1.9.2229.exe
  MACOS_HPCKIT_URL: https://registrationcenter-download.intel.com/akdlm/irc_nas/17230/m_HPCKit_b_2021.1.10.2260.dmg
  WINDOWS_CPP_COMPONENTS: intel.oneapi.win.cpp-compiler
  WINDOWS_FORTRAN_COMPONENTS: intel.oneapi.win.ifort-compiler
  WINDOWS_DPCPP_COMPONENTS: intel.oneapi.win.dpcpp-compiler
  LINUX_CPP_COMPONENTS: intel-oneapi-dpcpp-cpp-compiler-pro
  LINUX_FORTRAN_COMPONENTS: intel-oneapi-ifort
  LINUX_DPCPP_COMPONENTS: intel-oneapi-dpcpp-cpp-compiler
  MACOS_CPP_COMPONENTS: intel.oneapi.mac.cpp-compiler
  MACOS_FORTRAN_COMPONENTS: intel.oneapi.mac.ifort-compiler
  
jobs:
  build_windows_cpp:
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_CPP_COMPONENTS
    - name: build
      run: scripts/build_windows.bat c++
    - name: alt+tab
      if: ${{ always() }}
      run: wscript scripts/switch_windows.vbs
    - name: take screenshot
      if: ${{ always() }}
      run: scripts/take_screenshot.bat screenshot1.png
    - name: alt+tab
      if: ${{ always() }}
      run: wscript scripts/switch_windows.vbs
    - name: take screenshot
      if: ${{ always() }}
      run: scripts/take_screenshot.bat screenshot2.png
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          extract.log
          bootstrapper*
          installer*
          screenshot1.png
          screenshot2.png
        retention-days: 7
      
  build_windows_fortran:
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_windows.bat $WINDOWS_HPCKIT_URL $WINDOWS_FORTRAN_COMPONENTS
    - name: build
      run: scripts/build_windows.bat fortran
    - name: alt+tab
      if: ${{ always() }}
      run: wscript scripts/switch_windows.vbs
    - name: take screenshot
      if: ${{ always() }}
      run: scripts/take_screenshot.bat screenshot1.png
    - name: alt+tab
      if: ${{ always() }}
      run: wscript scripts/switch_windows.vbs
    - name: take screenshot
      if: ${{ always() }}
      run: scripts/take_screenshot.bat screenshot2.png
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          extract.log
          bootstrapper*
          installer*
          screenshot1.png
          screenshot2.png
        retention-days: 7
        
  build_windows_dpcpp:
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_windows.bat $WINDOWS_BASEKIT_URL $WINDOWS_DPCPP_COMPONENTS
    - name: build
      run: scripts/build_windows.bat dpc++
    - name: alt+tab
      if: ${{ always() }}
      run: wscript scripts/switch_windows.vbs
    - name: take screenshot
      if: ${{ always() }}
      run: scripts/take_screenshot.bat screenshot1.png
    - name: alt+tab
      if: ${{ always() }}
      run: wscript scripts/switch_windows.vbs
    - name: take screenshot
      if: ${{ always() }}
      run: scripts/take_screenshot.bat screenshot2.png
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          extract.log
          bootstrapper*
          installer*
          screenshot1.png
          screenshot2.png
        retention-days: 7
        
  build_windows_cpp_beta09:
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_windows.bat $WINDOWS_HPCKIT_URL_BETA09 $WINDOWS_CPP_COMPONENTS
    - name: build
      run: scripts/build_windows.bat c++
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          extract.log
          bootstrapper*
          installer*
        retention-days: 7
      
  build_windows_fortran_beta09:
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_windows.bat $WINDOWS_HPCKIT_URL_BETA09 $WINDOWS_FORTRAN_COMPONENTS
    - name: build
      run: scripts/build_windows.bat fortran
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          extract.log
          bootstrapper*
          installer*
        retention-days: 7
        
  build_windows_dpcpp_beta09:
    runs-on: windows-latest
    timeout-minutes: 10
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_windows.bat $WINDOWS_BASEKIT_URL_BETA09 $WINDOWS_DPCPP_COMPONENTS
    - name: build
      run: scripts/build_windows.bat dpc++
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          extract.log
          bootstrapper*
          installer*
        retention-days: 7
        
  build_linux_apt_cpp:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_linux_apt.sh $LINUX_CPP_COMPONENTS
    - name: build
      run: scripts/build_linux.sh c++
      
  build_linux_apt_fortran:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_linux_apt.sh $LINUX_FORTRAN_COMPONENTS
    - name: build
      run: scripts/build_linux.sh fortran
      
  build_linux_apt_dpcpp:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_linux_apt.sh $LINUX_DPCPP_COMPONENTS
    - name: build
      run: scripts/build_linux.sh dpc++
      
  build_linux_container_cpp:
    runs-on: ubuntu-20.04
    container: intel/oneapi-hpckit
    steps:
      - uses: actions/checkout@v2
      - name: install_git
        run: apt update && apt install -y git
      - name: build
        run: scripts/build_linux.sh c++
      
  build_linux_container_fortran:
    runs-on: ubuntu-20.04
    container: intel/oneapi-hpckit
    steps:
      - uses: actions/checkout@v2
      - name: install_git
        run: apt update && apt install -y git
      - name: build
        run: scripts/build_linux.sh fortran
      
  build_linux_container_dpcpp:
    runs-on: ubuntu-20.04
    container: intel/oneapi-basekit
    steps:
      - uses: actions/checkout@v2
      - name: install_git
        run: apt update && apt install -y git
      - name: build
        run: scripts/build_linux.sh dpc++
      
  build_macos_cpp:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_CPP_COMPONENTS
    - name: build
      run: scripts/build_macos.sh c++
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          bootstrapper*
          installer*
        retention-days: 7
      
  build_macos_fortran:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v2
    - name: install
      run: scripts/install_macos.sh $MACOS_HPCKIT_URL $MACOS_FORTRAN_COMPONENTS
    - name: build
      run: scripts/build_macos.sh fortran
    - name: Saving install logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: InstallLogs_${{ github.job }}
        path: |
          bootstrapper*
          installer*
        retention-days: 7
      